body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: olive;
}

.quem-somos {
    background-color: #5DADE2;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: lightblue;
}

.bg-footer {
    background-color: black;
    color: white;
}